
/*
     FILE ARCHIVED ON 00:43:03 Mar 01, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:53:41 Jun 13, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 255.266
  exclusion.robots: 0.084
  exclusion.robots.policy: 0.077
  RedisCDXSource: 5.215
  esindex: 0.008
  LoadShardBlock: 206.32 (3)
  PetaboxLoader3.datanode: 244.527 (5)
  CDXLines.iter: 24.479 (3)
  PetaboxLoader3.resolve: 641.777 (3)
  load_resource: 773.404 (2)
*/